# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# bin/.class
bin/

# Excute trash files
build/classes/MiniC.tokens
src/MiniC.tokens
src/MiniCBaseListener.java
src/MiniCBaseVisitor.java
src/MiniCLexer.java
src/MiniCLexer.tokens
src/MiniCListener.java
src/MiniCParser.java
src/MiniCVisitor.java

# Test case
test.c